<!-- <app-header></app-header> -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-toolbar>
        <app-perfil></app-perfil>
      </mat-toolbar>
      <mat-nav-list>
        @if (usuario.role == 'ADMIN') {
          <a mat-list-item href="usuario">Usuario</a>
        }
        @if (usuario.role == 'USER') {
          <a mat-list-item href="carro">Carro</a>
        }
        @if (usuario.role) {
          <a mat-list-item href="#">
            <button mat-icon-button aria-label="logout" class="icon-button" (click)="logout()">
              <mat-icon>logout</mat-icon>
            </button>
          </a>
        } @else {
          <a mat-list-item href="login">Login</a>
        }
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Desafio Pitang</span>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
