<div class="conteiner">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
        <mat-card-title class="card-layout" align="center">
            <mat-label>Cadastrar Usuario</mat-label>
        </mat-card-title>
        <mat-card class="card-layout">
            <mat-card-content align="center">
                    <mat-form-field class="input-dados">
                        <mat-label>Year</mat-label>
                        <input type="number" matInput formControlName="year">
                    </mat-form-field>         
                    <mat-form-field class="input-dados">
                        <mat-label>License Plate</mat-label>
                        <input type="text" matInput formControlName="licensePlate" maxlength="8">
                    </mat-form-field>  
                    <mat-form-field class="input-dados">
                        <mat-label>model</mat-label>
                        <input type="text" matInput formControlName="model" maxlength="50">
                    </mat-form-field>  
                    <mat-form-field class="input-dados">
                        <mat-label>Color</mat-label>
                        <input type="text" matInput formControlName="color" maxlength="50">
                    </mat-form-field>             
                
            </mat-card-content>
            <mat-card-actions>
                <button class="input-dados-button" mat-flat-button type="submit" color="primary">Salvar</button>
            </mat-card-actions>
            
        </mat-card>
    </form>
</div>


