.conteiner {

    margin-left: 25%;
    // margin-right: 20%;
}
.input-dados {
    margin: 10px;
}
.card-layout {

    justify-content: center;
    max-width: 50%;
}
.formulario {
    justify-content: center;
    margin: 10px;
    width: 100%;

}

.input-dados-button {
    margin: 10px;
    width: 100%;
}