.header-label {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    max-width: 50%;
}

.header-button {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
    max-width: 100%;
}